.navbar {
  font-weight: 600;
  font-family: Lexend, sans-serif;

  span {
    margin-left: 1rem;
    color: var(--green-400);

    transition: 0.3s;
    :hover {
      color: var(--green-light);
    }
  }

  form {
    
    input {
      font: 500 1rem Inter, sans-serif;
      color: var(--gray-500);
      width: 300px;
    }
  }

  .login {
    margin-left: 1.4rem;
  }
}
