* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Rubik', sans-serif;

  height: 100vh;
  width: 100%;
}

:root {
  --dark: #0E0E0E;
  --green: #049843;
  --green-50: #009640;
}